a {
  color: #00B7FF;
  padding: 0;
  margin: 0; }

body {
  padding: 50px;
  font: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e1e4ff; }

.hide {
  display: none; }

input[type="file"] {
  display: block;
  margin: 10px;
  margin-left: 0; }

.preview_single h3 {
  font-size: 1.3em; }

.preview_single img {
  width: 150px; }

.preview h3 {
  font-size: 1.3em; }

.preview img {
  width: 250px; }

.preview .images img {
  width: 150px; }

.preview .preview__edit-form input[type="text"] {
  height: 25px;
  width: 100px;
  padding: 3px;
  font-size: 17px; }

.preview .preview__edit-form .photo .photo_place img {
  width: 250px; }

.preview .preview__edit-form .gallery .gallery__el {
  display: inline-block;
  box-sizing: border-box;
  width: 150px; }

.chosen {
  border: 3px solid maroon; }

.loadWrapper {
  width: 100px;
  height: 100px;
  position: relative; }
  .loadWrapper .loader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    border-radius: 50%; }
    .loadWrapper .loader.load {
      border: 3px solid transparent;
      border-top: 3px solid darkblue;
      border-bottom: 3px solid darkblue;
      animation: spin 2s infinite linear; }
    .loadWrapper .loader.success {
      background-color: green;
      color: white;
      text-align: center;
      line-height: 50px;
      width: 5px;
      height: 5px;
      top: 45px;
      left: 45px;
      font-size: 1px;
      animation: success 1.3s forwards cubic-bezier(0, 1.26, 0.62, 1.26); }
    .loadWrapper .loader.error {
      background-color: maroon;
      color: white;
      text-align: center;
      line-height: 50px;
      width: 5px;
      height: 5px;
      top: 45px;
      left: 45px;
      font-size: 1px;
      animation: success 1.3s forwards cubic-bezier(0, 1.26, 0.62, 1.26); }

.photoset form .form__data {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 450px; }
  .photoset form .form__data .photoset__data {
    -ms-flex: 2;
        flex: 2; }
  .photoset form .form__data .photoset__gallery {
    -ms-flex: 5;
        flex: 5; }
    .photoset form .form__data .photoset__gallery h3 {
      margin: 0;
      margin-bottom: 15px; }
    .photoset form .form__data .photoset__gallery .gallery__imgs {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: baseling;
          align-items: baseling; }
      .photoset form .form__data .photoset__gallery .gallery__imgs img {
        height: 150px; }

.photoset form .form__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: start;
      justify-content: flex-start; }

@keyframes spin {
  0% {
    transform: rotateZ(0deg) scale(1); }
  50% {
    transform: rotateZ(180deg) scale(0.5); }
  100% {
    transform: rotateZ(360deg) scale(1); } }

@keyframes success {
  0% {
    width: 5px;
    height: 5px;
    top: 45px;
    left: 45px;
    font-size: 1px; }
  50% {
    font-size: 1px; }
  100% {
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    font-size: 25px; } }

/*# sourceMappingURL=main.css.map */
