<h1><a href="/">CMS</a></h1>
<h2>{{title}}</h2>
<div class="preview">
    <form id="newPreviewForm">
        <input type="text" name="previewName" placeholder="Preview name" />
        <div class="photo">
            <h3>Photo</h3>
            <div class="photo_place">
                <img id="photo_img">
            </div>
            <input id="photoLoader" type="file">
        </div>
        <h3>Gallery</h3>
        <div class="gallery">
            <button id="deleteImagesBtn" class="btn hide">Delete images</button>
            <input id="imgLoader" type="file">
        </div>
        <button type="submit">Save preview</button>
    </form>
</div>